html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 13px 0px 13px;
 
}


